In [1]:
import requests

In [6]:
from urllib.request import Request, urlopen
from bs4 import BeautifulSoup as soup

In [7]:
url = "https://www.thefork.fr/api/search/restaurants?query%5Bplace%5D%5Btype%5D=near_city&query%5Bplace%5D%5Bvalue%5D%5BcityId%5D=415144&query%5BdecorateRestaurantTags%5D%5B0%5D=4427&result%5BcurrentScreen%5D=SEARCH_RESULT_PAGE&result%5Babtest%5D%5BdisplaySnippets%5D=true&filter%5BrestaurantTagIdList%5D%5B0%5D%5Btags%5D%5B0%5D=4427&filter%5BoriginCodeList%5D%5B0%5D=THEFORKMANAGER&page%5Bnumber%5D=2&page%5Bsize%5D=25"

In [8]:
headers = """accept: application/json
accept-encoding: gzip, deflate, br
accept-language: fr-FR
cache-control: no-cache
content-type: application/json
cookie: tf_abtests_freshness=true; tf_ab_test=booking_funnel%3Dcontrol; CC=15102-e75; connected=false; G_ENABLED_IDPS=google; trackingId=7fb17de9-e38d-4694-977e-acf10f7f2730; _evidon_consent_cookie={"consent_date":"2020-11-26T13:49:11.189Z","consent_type":1}; ry_ry-l4f02rfr_realytics=eyJpZCI6InJ5XzRBQzc2MzIzLTYyNDAtNDNCQy04ODk4LTREMUNBNkI5N0Q3NyIsImNpZCI6bnVsbCwiZXhwIjoxNjM3OTM0NTUxNDEyLCJjcyI6bnVsbH0%3D; _gid=GA1.2.1785263786.1606398551; _hjTLDTest=1; _hjid=93a91613-4ab6-4b7d-be0b-a9e86f70b513; _hjIncludedInPageviewSample=1; _uetsid=332c86602fee11eba9e23b2c8292b73b; _uetvid=332cdfd02fee11ebb06231a0e51c1fb8; _fbp=fb.1.1606398567241.1268821727; _hjAbsoluteSessionInProgress=0; _gat=1; _dc_gtm_UA-153529018-5=1; _gat_UA-153529018-5=1; _ga_7NBMPFZNBS=GS1.1.1606401925.2.1.1606401932.0; _ga=GA1.1.792505627.1606398551; datadome=2ZnNflQjZ5jJh~vEBmBZygkTKDFNT~x_IEgOfZN9DybdaN2ksMpx2_tSv8SIEQN0bKpN_nM0VNUFyWmrup~nf3XxnkV08GJPT5IF9AFRxx
pragma: no-cache
referer: https://www.thefork.fr/search/?cityId=415144&restaurantTagId[]=4427&p=2
sec-fetch-dest: empty
sec-fetch-mode: cors
sec-fetch-site: same-origin
timezone: Europe/Paris
user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.198 Safari/537.36"""

In [5]:
#headers = dict([i.split(': ') for i in headers.split('\n')])
response = requests.get(url = url, headers = headers)
data = response.json()

NameError: name 'requests' is not defined

In [6]:
import pandas as pd

In [7]:
data = data['data']

In [8]:
pd.json_normalize(data)
#data

,name,servesCuisine,priceRange,currenciesAccepted,mainPhotoSrc,hasLoyaltyProgram,isBookable,isInsider,uuid,canBurnYums,...,marketingOffer.title,marketingOffer.type,bestOffer.tagsIds,bestOffer.id,bestOffer.label,bestOffer.name,yumsDetail.isSuperYums,marketingOffer,yumsDetail.description,yumsDetail.yumsCount
0,Thai Som Tam,Thaïlandais,23,EUR,https://res.cloudinary.com/tf-lab/image/upload...,False,True,False,38afeeba-2dfd-4d35-94f7-cccb0d3ef5ea,False,...,-40% sur la carte,NaN,[],4158105,-40%,-40% sur la carte,False,NaN,NaN,NaN
1,L'Iliade,Méditérranéen,35,EUR,https://res.cloudinary.com/tf-lab/image/upload...,False,True,True,50e61ea3-ee58-4fd4-8233-f05060130775,False,...,-20% sur la carte,NaN,[],4050109,-20%,-20% sur la carte,False,NaN,NaN,NaN
2,Auberge de la Reine Blanche,Français,46,EUR,https://res.cloudinary.com/tf-lab/image/upload...,False,True,False,0b2432e0-96a2-4e11-97a1-66d9d9029b77,False,...,-40% sur la carte,NaN,[],3092305,-40%,-40% sur la carte,False,NaN,NaN,NaN
3,Vin et Marée Murat - Pte de St Cloud- Exelmans,Français,49,EUR,https://res.cloudinary.com/tf-lab/image/upload...,False,True,False,7a49be8a-6656-4ef8-a835-431b3d6bffc9,False,...,-30% sur la carte,NaN,[],4242335,-30%,-30% sur la carte,False,NaN,NaN,NaN
4,Eels,Français,65,EUR,https://res.cloudinary.com/tf-lab/image/upload...,False,True,True,88844bf3-bbce-4cd3-be03-f9d5a3acd2a0,False,...,"Formules Déjeuner de 29,34 €",NaN,[3],4272281,MENU,"Formules Déjeuner de 29,34 €",False,NaN,NaN,NaN
5,Enyaa,Japonais,96,EUR,https://res.cloudinary.com/tf-lab/image/upload...,False,True,True,39d10302-15d9-421b-b999-b5136cd1f341,False,...,Menu Dégustation 88 €,NaN,[3],4261341,MENU,Menu Dégustation 88 €,False,NaN,NaN,NaN
6,La Table Libanaise,Libanais,32,EUR,https://res.cloudinary.com/tf-lab/image/upload...,True,True,False,bdd3d4f6-9c8a-475e-ac9b-8da9a5451614,True,...,-40% sur la carte,NaN,[],4231391,-40%,-40% sur la carte,False,NaN,NaN,NaN
7,Les Bottes de 7 Lieues,Français,39,EUR,https://res.cloudinary.com/tf-lab/image/upload...,False,True,False,c26fe8a1-22e6-42a7-a026-c6d9a9f24c9c,False,...,Menu entrée plat dessert 35 €,NaN,[3],4223149,MENU,Menu entrée plat dessert 35 €,False,NaN,NaN,NaN
8,Série Limithée Paris - Moscou,Russe,26,EUR,https://res.cloudinary.com/tf-lab/image/upload...,False,True,False,cb704875-21ae-424e-ac19-7849d6107046,False,...,"Le BOLCHOI 19,9 €",NaN,[3],4224597,MENU,"Le BOLCHOI 19,9 €",False,NaN,NaN,NaN
9,Vin et Marée - Suffren,Français,49,EUR,https://res.cloudinary.com/tf-lab/image/upload...,False,True,False,4e21c796-bfb2-46fe-9d53-f8f7dc5da026,False,...,-30% sur la carte,NaN,[],4247161,-30%,-30% sur la carte,False,NaN,NaN,NaN
10,Vin et Marée Maine-Montparnasse,Français,49,EUR,https://res.cloudinary.com/tf-lab/image/upload...,False,True,False,191f4bb7-cf1c-4f9b-ab79-992934b6caf7,False,...,-30% sur la carte,NaN,[],4247147,-30%,-30% sur la carte,False,NaN,NaN,NaN
11,Yasmin,Indien,29,EUR,https://res.cloudinary.com/tf-lab/image/upload...,True,True,False,4a166511-c354-4807-8517-4ec82472a383,True,...,NaN,NaN,[],165529,,Stock hors promo,False,NaN,NaN,NaN
12,Le Coq Rico,Français,69,EUR,https://res.cloudinary.com/tf-lab/image/upload...,False,True,True,d8efc0a0-7f7b-42d8-b3dc-6f7ab81792e3,False,...,-30% sur la carte,NaN,[],4261941,-30%,-30% sur la carte,False,NaN,NaN,NaN
13,Kigawa,Français,65,EUR,https://res.cloudinary.com/tf-lab/image/upload...,False,True,True,ce57e4f8-452a-4bb5-815a-a0637a279379,False,...,Menu Emporter D 48 €,NaN,[3],4283427,MENU,Menu Emporter D 48 €,False,NaN,NaN,NaN
14,Qasti,Libanais,40,EUR,https://res.cloudinary.com/tf-lab/image/upload...,False,True,True,23ef22a3-73e2-4c6b-9d5c-7bb9797129ca,False,...,Brunch 39€,NaN,[4],3842735,MENU,Brunch 39€,False,NaN,NaN,NaN
15,Marjolaine,Fusion,18,EUR,https://res.cloudinary.com/tf-lab/image/upload...,False,True,False,cf9a5cdc-f4ba-42c9-b6fd-926a8a8106e3,False,...,-20% sur la carte,NaN,[],3983391,-20%,-20% sur la carte,False,NaN,NaN,NaN
16,Respiro,Italien,35,EUR,https://res.cloudinary.com/tf-lab/image/upload...,False,True,False,10d5600e-07c5-4bd8-8fa3-9e074d103628,False,...,NaN,NaN,[],3386851,,Stock hors promo,False,NaN,NaN,NaN
17,Mes Souvenirs d'Espagne (Marché Saint-Martin),Espagnol,26,EUR,https://res.cloudinary.com/tf-lab/image/upload...,False,True,False,6270a5b6-5bc5-4ce0-a86f-ef502b7e406a,False,...,-20% sur la carte,NaN,[],4000845,-20%,-20% sur la carte,False,NaN,NaN,NaN
18,Les passagers de Beyrouth,Libanais,26,EUR,https://res.cloudinary.com/tf-lab/image/upload...,False,True,True,06755379-c6bd-4c8f-8d90-9ec0f13bc713,False,...,NaN,NaN,[],1116987,,Stock hors promo,False,NaN,NaN,NaN
19,Mersea Beaupassage,NaN,33,EUR,https://res.cloudinary.com/tf-lab/image/upload...,True,True,True,7f52b503-f0b1-4e27-9dfa-acc2cb79ef08,False,...,NaN,NaN,[],2877061,,Stock hors promo,True,NaN,YUMS x2,0.0
20,Les Saveurs de l'Orient,Marocain,26,EUR,https://res.cloudinary.com/tf-lab/image/upload...,True,True,False,fbb74f96-2f41-4cc8-a8d2-2c247b3854cc,True,...,-30% sur la carte,NaN,[],4187403,-30%,-30% sur la carte,False,NaN,NaN,NaN
21,Coriandreparis,Indien,16,EUR,https://res.cloudinary.com/tf-lab/image/upload...,True,True,False,c75baf12-9fd7-439b-8dff-9d2148ca6e2d,True,...,NaN,NaN,[],2050161,,Stock hors promo,False,NaN,NaN,NaN
22,Apéti,Végétarien,29,EUR,https://res.cloudinary.com/tf-lab/image/upload...,False,True,False,fe42a6c3-ef00-497c-a9d4-404df10a4d5b,False,...,Formules 19€ 19 €,NaN,[3],4159601,MENU,Formules 19€ 19 €,False,NaN,NaN,NaN
23,Coretta,NaN,60,EUR,https://res.cloudinary.com/tf-lab/image/upload...,False,True,True,f81d77e7-ce40-47ad-80f4-a53f5ceb2c1e,False,...,MENU DEJEUNER 18 €,NaN,[3],4298577,MENU,MENU DEJEUNER 18 €,False,NaN,NaN,NaN
24,Alliance,Français,156,EUR,https://res.cloudinary.com/tf-lab/image/upload...,True,True,True,781aca47-ffa1-483b-9679-aa35e34d2ad3,True,...,Menu Instant déjeuner 55 €,NaN,[3],4262557,MENU,Menu Instant déjeuner 55 €,True,NaN,YUMS x2,0.0

In [9]:
# create an empty DataFrame
df_final=pd.DataFrame()
# change the page number for each round of the loop
# append into the data frame (adds to rows in the bottom)
for i in range(1,6):
    url=f'https://www.thefork.fr/api/search/restaurants?query%5Bplace%5D%5Btype%5D=near_city&query%5Bplace%5D%5Bvalue%5D%5BcityId%5D=415144&query%5BdecorateRestaurantTags%5D%5B0%5D=4427&result%5BcurrentScreen%5D=SEARCH_RESULT_PAGE&result%5Babtest%5D%5BdisplaySnippets%5D=true&filter%5BrestaurantTagIdList%5D%5B0%5D%5Btags%5D%5B0%5D=4427&filter%5BoriginCodeList%5D%5B0%5D=THEFORKMANAGER&page%5Bnumber%5D={i}&page%5Bsize%5D=25'  
    response=requests.get(url, headers=headers)
    data=response.json()
    data = data['data']
    df=pd.json_normalize(data)
    df_final=df_final.append(df)
    print('page number',i,'is done!')

page number 1 is done!
page number 2 is done!
page number 3 is done!
page number 4 is done!
page number 5 is done!

In [10]:
df_final

,name,servesCuisine,priceRange,currenciesAccepted,mainPhotoSrc,hasLoyaltyProgram,isBookable,isInsider,uuid,canBurnYums,...,marketingOffer.title,marketingOffer.type,bestOffer.tagsIds,bestOffer.id,bestOffer.label,bestOffer.name,yumsDetail.isSuperYums,yumsDetail.description,yumsDetail.yumsCount,marketingOffer
0,Restaurant New Dehli,Indien,26,EUR,https://res.cloudinary.com/tf-lab/image/upload...,True,True,False,30cccf55-6773-4c4f-af23-dce1b0f1e9f8,True,...,-30% sur la carte,None,[],4158113,-30%,-30% sur la carte,True,YUMS x2,0.0,NaN
1,Visconti,Italien,48,EUR,https://res.cloudinary.com/tf-lab/image/upload...,True,True,False,862ed7ff-0b52-4e83-84db-c924d197add8,True,...,-20% sur la carte,None,[],4250971,-20%,-20% sur la carte,True,YUMS x2,0.0,NaN
2,Truffes Folies 7ème,Français,46,EUR,https://res.cloudinary.com/tf-lab/image/upload...,True,True,False,a50a170a-0f35-43be-bf60-7b31187a7dc3,True,...,-50% sur la carte,None,[],4250799,-50%,-50% sur la carte,False,NaN,NaN,NaN
3,Le Caroubier,Marocain,39,EUR,https://res.cloudinary.com/tf-lab/image/upload...,True,True,False,aacc98dc-ea70-4cd6-b2c8-7b9dc193e854,True,...,-30% sur la carte,None,[],4229395,-30%,-30% sur la carte,True,YUMS x2,0.0,NaN
4,Le Sâotico,Français,34,EUR,https://res.cloudinary.com/tf-lab/image/upload...,True,True,False,b37f24de-3c44-4b8e-9675-f261ed05d295,True,...,Menu de la Saint-Sylvestre - New Year's Eve //...,Event,"[7, 77]",4301691,MENU,Menu de la Saint-Sylvestre - New Year's Eve //...,False,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,Les Vignes du Liban,Libanais,28,EUR,https://res.cloudinary.com/tf-lab/image/upload...,False,True,False,ef91fec5-ebdf-4bc4-b1ae-47857696f3b9,False,...,-30% sur la carte,NaN,[113],1978569,-30%,-30% sur la carte,False,NaN,NaN,NaN
21,Jòia par Hélène Darroze,Français,104,EUR,https://res.cloudinary.com/tf-lab/image/upload...,False,True,True,2ab63510-0054-457a-9de6-0eeef26557e1,False,...,Brunch 45 €,NaN,[4],4262703,MENU,Brunch 45 €,False,NaN,NaN,NaN
22,Le Tounsi Restaurant,Tunisien,26,EUR,https://res.cloudinary.com/tf-lab/image/upload...,False,True,False,a122802b-6f78-4b65-9b13-fe2cf2d92f06,False,...,-20% sur la carte,NaN,[],4222825,-20%,-20% sur la carte,False,NaN,NaN,NaN
23,Chez Poupette,Cuisine traditionnelle,26,EUR,https://res.cloudinary.com/tf-lab/image/upload...,False,True,False,5358a3e1-8bc6-4524-bb39-3c3371db15b8,False,...,NaN,NaN,[],2665567,,Stock hors promo,False,NaN,NaN,NaN
24,Il Teatro,Italien,23,EUR,https://res.cloudinary.com/tf-lab/image/upload...,False,True,False,d2093ebb-2aea-4158-906b-9e56841f4bd6,False,...,-50% sur la carte,NaN,[],4261827,-50%,-50% sur la carte,False,NaN,NaN,NaN

In [11]:
# clean columns
df_dropped = df_final.drop(columns=['currenciesAccepted', 'hasLoyaltyProgram', 'isBookable',
                                   'isInsider','uuid', 'canBurnYums','highlightedTag',
                                   'marketingOffer.type','bestOffer.tagsIds','bestOffer.name',
                                   'yumsDetail.isSuperYums','yumsDetail.description',
                                   'yumsDetail.yumsCount','marketingOffer', 'snippets',
                                   'photosCarousel','id', 'geo.longitude', 'geo.latitude',
                                   'mainPhotoSrc','mainPhoto.664x374','mainPhoto.1350x759',
                                   'mainPhoto.160x120','mainPhoto.80x60','mainPhoto.92x92',
                                   'mainPhoto.184x184', 'bestOffer.id', 'mainPhoto.source',
                                   'mainPhoto.612x344', 'mainPhoto.480x270','address.country',
                                   'address.locality'])
df_dropped

,name,servesCuisine,priceRange,address.street,address.postalCode,aggregateRatings.thefork.ratingValue,aggregateRatings.thefork.reviewCount,aggregateRatings.tripadvisor.ratingValue,aggregateRatings.tripadvisor.reviewCount,mainPhoto.240x135,marketingOffer.title,bestOffer.label
0,Restaurant New Dehli,Indien,26,"4, passage Brady",75010,9.2,1220,4.0,75.0,https://res.cloudinary.com/tf-lab/image/upload...,-30% sur la carte,-30%
1,Visconti,Italien,48,"4, rue de l'Arcade",75008,9.1,1756,4.0,300.0,https://res.cloudinary.com/tf-lab/image/upload...,-20% sur la carte,-20%
2,Truffes Folies 7ème,Français,46,"37, rue Malar",75007,9.2,6635,4.0,384.0,https://res.cloudinary.com/tf-lab/image/upload...,-50% sur la carte,-50%
3,Le Caroubier,Marocain,39,"82, boulevard Lefebvre",75015,9.0,3203,4.0,330.0,https://res.cloudinary.com/tf-lab/image/upload...,-30% sur la carte,-30%
4,Le Sâotico,Français,34,96 Rue de Richelieu,75002,9.1,848,4.5,977.0,https://res.cloudinary.com/tf-lab/image/upload...,Menu de la Saint-Sylvestre - New Year's Eve //...,MENU
...,...,...,...,...,...,...,...,...,...,...,...,...
20,Les Vignes du Liban,Libanais,28,"291, rue du Vaugirard",75015,9.4,3675,4.0,159.0,https://res.cloudinary.com/tf-lab/image/upload...,-30% sur la carte,-30%
21,Jòia par Hélène Darroze,Français,104,39 Rue des Jeuneurs,75002,8.6,1405,3.5,506.0,https://res.cloudinary.com/tf-lab/image/upload...,Brunch 45 €,MENU
22,Le Tounsi Restaurant,Tunisien,26,45 Rue des Trois Bornes,75011,9.7,165,5.0,18.0,https://res.cloudinary.com/tf-lab/image/upload...,-20% sur la carte,-20%
23,Chez Poupette,Cuisine traditionnelle,26,20 Rue Biot,75017,8.9,237,4.0,55.0,https://res.cloudinary.com/tf-lab/image/upload...,NaN,
24,Il Teatro,Italien,23,3 Place Charles Michels,75015,8.7,756,3.5,195.0,https://res.cloudinary.com/tf-lab/image/upload...,-50% sur la carte,-50%

In [13]:
#df_dropped.loc[:, 'aggregateRatings.thefork.ratingValue']
ratings = df_dropped[['aggregateRatings.thefork.ratingValue', 'aggregateRatings.tripadvisor.ratingValue']] 
# format the fork rating (1-10) so that it works with the tripadvisor (1-5)
ratings['aggregateRatings.thefork.ratingValue'] /= 2
# avrage each row between the for rating and tripadvisor rating column
ratings = ratings.mean(axis=1)
#add the ratings we calculated as a column in the data_frame
df_dropped["ratings"] = ratings
df_dropped

<ipython-input-13-029eb2a51836>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratings['aggregateRatings.thefork.ratingValue'] /= 2

,name,servesCuisine,priceRange,address.street,address.postalCode,aggregateRatings.thefork.ratingValue,aggregateRatings.thefork.reviewCount,aggregateRatings.tripadvisor.ratingValue,aggregateRatings.tripadvisor.reviewCount,mainPhoto.240x135,marketingOffer.title,bestOffer.label,ratings
0,Restaurant New Dehli,Indien,26,"4, passage Brady",75010,9.2,1220,4.0,75.0,https://res.cloudinary.com/tf-lab/image/upload...,-30% sur la carte,-30%,4.300
1,Visconti,Italien,48,"4, rue de l'Arcade",75008,9.1,1756,4.0,300.0,https://res.cloudinary.com/tf-lab/image/upload...,-20% sur la carte,-20%,4.275
2,Truffes Folies 7ème,Français,46,"37, rue Malar",75007,9.2,6635,4.0,384.0,https://res.cloudinary.com/tf-lab/image/upload...,-50% sur la carte,-50%,4.300
3,Le Caroubier,Marocain,39,"82, boulevard Lefebvre",75015,9.0,3203,4.0,330.0,https://res.cloudinary.com/tf-lab/image/upload...,-30% sur la carte,-30%,4.250
4,Le Sâotico,Français,34,96 Rue de Richelieu,75002,9.1,848,4.5,977.0,https://res.cloudinary.com/tf-lab/image/upload...,Menu de la Saint-Sylvestre - New Year's Eve //...,MENU,4.525
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,Les Vignes du Liban,Libanais,28,"291, rue du Vaugirard",75015,9.4,3675,4.0,159.0,https://res.cloudinary.com/tf-lab/image/upload...,-30% sur la carte,-30%,4.350
21,Jòia par Hélène Darroze,Français,104,39 Rue des Jeuneurs,75002,8.6,1405,3.5,506.0,https://res.cloudinary.com/tf-lab/image/upload...,Brunch 45 €,MENU,3.900
22,Le Tounsi Restaurant,Tunisien,26,45 Rue des Trois Bornes,75011,9.7,165,5.0,18.0,https://res.cloudinary.com/tf-lab/image/upload...,-20% sur la carte,-20%,4.925
23,Chez Poupette,Cuisine traditionnelle,26,20 Rue Biot,75017,8.9,237,4.0,55.0,https://res.cloudinary.com/tf-lab/image/upload...,NaN,,4.225
24,Il Teatro,Italien,23,3 Place Charles Michels,75015,8.7,756,3.5,195.0,https://res.cloudinary.com/tf-lab/image/upload...,-50% sur la carte,-50%,3.925

In [14]:
# drop the now not-relevent ratings
cln_dropped = df_dropped.drop(columns=['aggregateRatings.thefork.ratingValue',
                                      'aggregateRatings.thefork.reviewCount',
                                      'aggregateRatings.tripadvisor.ratingValue',
                                      'aggregateRatings.tripadvisor.reviewCount'])
# extract the quartier from the code postal
quartier = cln_dropped['address.postalCode']
quartier = [(int(i) % 100) for i in list(quartier)]
# add to data frame
cln_dropped["quartier"] = quartier
# drop the now unused postal code
cln_dropped = cln_dropped.drop(columns=["address.postalCode"])
cln_dropped

,name,servesCuisine,priceRange,address.street,mainPhoto.240x135,marketingOffer.title,bestOffer.label,ratings,quartier
0,Restaurant New Dehli,Indien,26,"4, passage Brady",https://res.cloudinary.com/tf-lab/image/upload...,-30% sur la carte,-30%,4.300,10
1,Visconti,Italien,48,"4, rue de l'Arcade",https://res.cloudinary.com/tf-lab/image/upload...,-20% sur la carte,-20%,4.275,8
2,Truffes Folies 7ème,Français,46,"37, rue Malar",https://res.cloudinary.com/tf-lab/image/upload...,-50% sur la carte,-50%,4.300,7
3,Le Caroubier,Marocain,39,"82, boulevard Lefebvre",https://res.cloudinary.com/tf-lab/image/upload...,-30% sur la carte,-30%,4.250,15
4,Le Sâotico,Français,34,96 Rue de Richelieu,https://res.cloudinary.com/tf-lab/image/upload...,Menu de la Saint-Sylvestre - New Year's Eve //...,MENU,4.525,2
...,...,...,...,...,...,...,...,...,...
20,Les Vignes du Liban,Libanais,28,"291, rue du Vaugirard",https://res.cloudinary.com/tf-lab/image/upload...,-30% sur la carte,-30%,4.350,15
21,Jòia par Hélène Darroze,Français,104,39 Rue des Jeuneurs,https://res.cloudinary.com/tf-lab/image/upload...,Brunch 45 €,MENU,3.900,2
22,Le Tounsi Restaurant,Tunisien,26,45 Rue des Trois Bornes,https://res.cloudinary.com/tf-lab/image/upload...,-20% sur la carte,-20%,4.925,11
23,Chez Poupette,Cuisine traditionnelle,26,20 Rue Biot,https://res.cloudinary.com/tf-lab/image/upload...,NaN,,4.225,17
24,Il Teatro,Italien,23,3 Place Charles Michels,https://res.cloudinary.com/tf-lab/image/upload...,-50% sur la carte,-50%,3.925,15

In [15]:
cln_dropped
# calculate the "offer"'s' effect on the "priceRange"
# create lists 
pricerange = list(cln_dropped['priceRange'])
offer = list(cln_dropped['bestOffer.label'])
# turn empty values ("") and "MENU" into 0
# clean the rest
offer = list([
        i.replace("", "0") if i == ''
        else
        (i.replace("%", "").
         replace("-", "").
         replace("MENU", "0")
         )
         for i in offer])
# turn into ints
offer = [int(i) for i in offer]

#reduce offer from price range

afterReduc = []

#notice the rounding

for i in list(range(len(offer))):
    afterReduc.append(round((pricerange[i] - ((offer[i] / 100)*pricerange[i]))))

# add the column to a new dataFrame
    
byPrice = cln_dropped
byPrice["priceRAfterReduc"] = afterReduc
byPrice

,name,servesCuisine,priceRange,address.street,mainPhoto.240x135,marketingOffer.title,bestOffer.label,ratings,quartier,priceRAfterReduc
0,Restaurant New Dehli,Indien,26,"4, passage Brady",https://res.cloudinary.com/tf-lab/image/upload...,-30% sur la carte,-30%,4.300,10,18
1,Visconti,Italien,48,"4, rue de l'Arcade",https://res.cloudinary.com/tf-lab/image/upload...,-20% sur la carte,-20%,4.275,8,38
2,Truffes Folies 7ème,Français,46,"37, rue Malar",https://res.cloudinary.com/tf-lab/image/upload...,-50% sur la carte,-50%,4.300,7,23
3,Le Caroubier,Marocain,39,"82, boulevard Lefebvre",https://res.cloudinary.com/tf-lab/image/upload...,-30% sur la carte,-30%,4.250,15,27
4,Le Sâotico,Français,34,96 Rue de Richelieu,https://res.cloudinary.com/tf-lab/image/upload...,Menu de la Saint-Sylvestre - New Year's Eve //...,MENU,4.525,2,34
...,...,...,...,...,...,...,...,...,...,...
20,Les Vignes du Liban,Libanais,28,"291, rue du Vaugirard",https://res.cloudinary.com/tf-lab/image/upload...,-30% sur la carte,-30%,4.350,15,20
21,Jòia par Hélène Darroze,Français,104,39 Rue des Jeuneurs,https://res.cloudinary.com/tf-lab/image/upload...,Brunch 45 €,MENU,3.900,2,104
22,Le Tounsi Restaurant,Tunisien,26,45 Rue des Trois Bornes,https://res.cloudinary.com/tf-lab/image/upload...,-20% sur la carte,-20%,4.925,11,21
23,Chez Poupette,Cuisine traditionnelle,26,20 Rue Biot,https://res.cloudinary.com/tf-lab/image/upload...,NaN,,4.225,17,26
24,Il Teatro,Italien,23,3 Place Charles Michels,https://res.cloudinary.com/tf-lab/image/upload...,-50% sur la carte,-50%,3.925,15,12

In [16]:
# drop the price columns 
byPrice = byPrice.drop(columns=["bestOffer.label", "priceRange"])

# reorder 
byPrice = byPrice.reindex(columns= ['name', 'servesCuisine', 'priceRAfterReduc',
                                    'ratings','quartier','address.street',
                                    'marketingOffer.title','mainPhoto.240x135'
                                    ])

In [17]:
type(byPrice)

pandas.core.frame.DataFrame

In [18]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\meita\anaconda3\lib\site-packages (8.0.22)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\meita\anaconda3\lib\site-packages (from mysql-connector-python) (3.13.0)
Requirement already satisfied: six>=1.9 in c:\users\meita\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Requirement already satisfied: setuptools in c:\users\meita\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (50.3.2)

In [19]:
# function for connecting to server
import getpass

def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
        host = host_name,
        user = user_name,
        passwd = user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [20]:
# connect to local mysql server
connection = create_server_connection("localhost", "root", getpass.getpass())

········

NameError: name 'Error' is not defined

In [ ]:
Hostname = "localhost"
username = "root"
password = getpass.getpass()
database = "fork"
engine = create_engine(f"mysql+pymysql://{username}:{password}@{Hostname}/{database}") # is this the same as connection?

In [ ]:
byPrice.to_sql('fork', engine, index=False, if_exists='replace')

In [ ]:
# ask user:
# Which cousine?
# How much would you like to spend?
# in which quartiers?

q1 = """USE fork;
SELECT * FROM fork
WHERE(servesCuisine='Indien'
AND priceRAfterReduc <20
AND );"""
test = engine.execute(q1).fetchall()
type(test)
df = pd.DataFrame(test)
df

In [ ]:
q1 = """USE fork;
SELECT * FROM fork
WHERE(servesCuisine='Indien'
AND priceRAfterReduc <20
AND );"""

In [ ]:
FIELDS = ['name', 'priceRange', 'servesCuisine']
def clean_data(data):
    table = pd.DataFrame()
    for i in range(len(data) - 1):
        df = pd.json_normalize(data[i + 1])
        df = df[FIELDS]
        table = table.append(df)
    return table

cleand = clean_data(data)
cleand.shape
# problematic : 'address' , 'aggregateRatings', bestOffer

In [ ]:
def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [ ]:


results = read_query(connection, q1)

for result in results:
  print(result)

In [ ]:
addresse = [resto.get("address") for resto in data]
ad_street = [resto.get("street") for resto in addresse]
ad_quartier = [resto.get("postalCode")[-2:] for resto in addresse]

In [ ]:
aggregateRatings = [resto.get("aggregateRatings") for resto in data]
aggregateRatings = [resto.get("thefork") for resto in aggregateRatings]
aggregateRatings = [sum(resto.values()) for resto in aggregateRatings]

In [ ]:
bestOffer = [resto.get("bestOffer") for resto in data]
bestOffer = [resto.get("label").
             replace("%", "").
             replace("-", "")
             for resto in bestOffer]
len(bestOffer)
bestOffer

In [ ]:
#cleand['bestOffer'] = bestOffer 
#len(aggregateRatings)
#cleand['aggregateRatings'] = aggregateRatings

In [ ]:
cleand