## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [4]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [5]:
# Your code here
sample_list_1 = random.sample(range(100), 80)
print(sample_list_1)

[9, 61, 17, 38, 97, 56, 79, 5, 13, 69, 80, 46, 32, 67, 77, 65, 7, 28, 52, 15, 99, 41, 27, 24, 31, 86, 58, 51, 66, 2, 20, 57, 4, 76, 18, 26, 74, 19, 10, 47, 40, 42, 64, 14, 82, 72, 49, 60, 90, 55, 59, 35, 3, 30, 21, 93, 81, 37, 62, 50, 45, 63, 6, 70, 73, 8, 88, 12, 54, 34, 94, 85, 98, 96, 68, 78, 44, 89, 91, 33]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here
set1 = set(sample_list_1)
print("Len of sample_list_1: ", len(sample_list_1))
print("Len of set1: ", len(set1))
print("The length hasn't changed")

Len of sample_list_1:  80
Len of set1:  80
The length hasn't changed

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [7]:
random.choices(range(100),k=80 )

[60,
 56,
 63,
 81,
 80,
 6,
 45,
 32,
 83,
 56,
 82,
 15,
 38,
 94,
 74,
 65,
 15,
 1,
 55,
 3,
 38,
 48,
 37,
 84,
 94,
 19,
 61,
 75,
 62,
 25,
 31,
 25,
 5,
 41,
 38,
 77,
 91,
 34,
 3,
 52,
 24,
 24,
 48,
 29,
 86,
 36,
 51,
 43,
 67,
 84,
 69,
 58,
 13,
 77,
 39,
 65,
 31,
 99,
 75,
 72,
 82,
 33,
 84,
 7,
 64,
 71,
 18,
 39,
 40,
 2,
 36,
 88,
 42,
 28,
 12,
 55,
 3,
 90,
 48,
 21]

In [8]:
sample_list_2 = []
i = 0
while i <= 80:
    sample_list_2.append(random.sample(range(100), 1))
    i += 1
print(sample_list_2)
flat_list = [item for sublist in sample_list_2 for item in sublist]
print("\nflattend: ", flat_list)

[[14], [46], [1], [6], [10], [88], [31], [92], [86], [41], [66], [72], [90], [41], [34], [63], [66], [0], [98], [21], [21], [56], [31], [45], [99], [57], [74], [28], [67], [17], [92], [51], [75], [82], [49], [71], [69], [6], [98], [77], [25], [41], [1], [4], [24], [61], [77], [37], [90], [31], [89], [74], [79], [76], [3], [10], [49], [62], [48], [97], [32], [36], [41], [99], [18], [52], [38], [27], [25], [11], [55], [29], [56], [53], [24], [72], [17], [5], [61], [82], [76]]

flattend:  [14, 46, 1, 6, 10, 88, 31, 92, 86, 41, 66, 72, 90, 41, 34, 63, 66, 0, 98, 21, 21, 56, 31, 45, 99, 57, 74, 28, 67, 17, 92, 51, 75, 82, 49, 71, 69, 6, 98, 77, 25, 41, 1, 4, 24, 61, 77, 37, 90, 31, 89, 74, 79, 76, 3, 10, 49, 62, 48, 97, 32, 36, 41, 99, 18, 52, 38, 27, 25, 11, 55, 29, 56, 53, 24, 72, 17, 5, 61, 82, 76]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [9]:
# Your code here
set2 = set(flat_list)
print("Len of set2: ", len(set2))
print("The length has changed")

Len of set2:  56
The length has changed

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [10]:
# Your code here
set3 = set1.difference(set2)
print(set3)

{2, 7, 8, 9, 12, 13, 15, 19, 20, 26, 30, 33, 35, 40, 42, 44, 47, 50, 54, 58, 59, 60, 64, 65, 68, 70, 73, 78, 80, 81, 85, 91, 93, 94, 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [11]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{0, 1, 36, 71, 11, 75, 48, 53, 25, 92, 29}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [12]:
# Your code here
set5 = set1.intersection(set2)

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [13]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))
len(set1) > len(set2)> len(set5)> len(set3) > len(set4)

80
56
35
11
45

True

#### Create an empty set called `set6`.

In [20]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [21]:
# Your code here
set6.update(set3, set5)
print(set6)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 17, 18, 19, 20, 21, 24, 26, 27, 28, 30, 31, 32, 33, 34, 35, 37, 38, 40, 41, 42, 44, 45, 46, 47, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 85, 86, 88, 89, 90, 91, 93, 94, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [22]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [25]:
# Your code here
print(set1.issubset(set2))
print(set1.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [40]:
# Your code here
uni345 = set()
print(uni345)
uni345 = uni345.union(set3, set4, set5)
print("\n",uni345)
uni12 = set()
print("\n",uni12)
print(set1, set2)
uni12 = uni12.union(set1, set2)
print("\n",uni12)

set()

 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 85, 86, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99}

 set()
{2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 17, 18, 19, 20, 21, 24, 26, 27, 28, 30, 31, 32, 33, 34, 35, 37, 38, 40, 41, 42, 44, 45, 46, 47, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 85, 86, 88, 89, 90, 91, 93, 94, 96, 97, 98, 99} {0, 1, 3, 4, 5, 6, 10, 11, 14, 17, 18, 21, 24, 25, 27, 28, 29, 31, 32, 34, 36, 37, 38, 41, 45, 46, 48, 49, 51, 52, 53, 55, 56, 57, 61, 62, 63, 66, 67, 69, 71, 72, 74, 75, 76, 77, 79, 82, 86, 88, 89, 90, 92, 97, 98, 99}

 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 85, 86, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [42]:
# Your code here
print(set1)
set1.pop()
print("\n after: ",set1)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 17, 18, 19, 20, 21, 24, 26, 27, 28, 30, 31, 32, 33, 34, 35, 37, 38, 40, 41, 42, 44, 45, 46, 47, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 85, 86, 88, 89, 90, 91, 93, 94, 96, 97, 98, 99}

 after:  {3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 17, 18, 19, 20, 21, 24, 26, 27, 28, 30, 31, 32, 33, 34, 35, 37, 38, 40, 41, 42, 44, 45, 46, 47, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 85, 86, 88, 89, 90, 91, 93, 94, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [45]:
# Your code here
print(set1)
tmp_set1 = []
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in set1:
    if i not in list_to_remove:
        tmp_set1.append(i)
print("\nremoved: ",tmp_set1)

{3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 17, 18, 19, 20, 21, 24, 26, 27, 28, 30, 31, 32, 33, 34, 35, 37, 38, 40, 41, 42, 44, 45, 46, 47, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 85, 86, 88, 89, 90, 91, 93, 94, 96, 97, 98, 99}

removed:  [3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 17, 18, 20, 24, 26, 27, 28, 30, 32, 33, 34, 35, 37, 38, 40, 42, 44, 45, 46, 47, 50, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 76, 77, 78, 80, 82, 85, 86, 88, 90, 93, 94, 96, 97, 98]